body {
	background-color: #58C9B9 !important;
	margin-top: 50px !important;
	font-family: 'Libre Baskerville', serif;
}

h1{
	text-align: center;
	margin-bottom: 50px !important;
}

strong {
	color: black;
	font-size: 15px;
}


#formulaire_chat{
	font-weight: bold;
	margin: 0 auto;
	width: 70%;
	height: 60%;
}
#zone_chat{
	overflow: auto;
}

 #chat{
 	font-weight: bold;
 	width: 70%;
 	height: 60%;
    background-color: #58C9B9;
	font-size: 25px;
    color: white;
    padding: 2px;
    margin: 0 auto;
    border-radius: 3px;
 	border: solid 2px white;
 }
 #connected{
 	float: left;
 	list-style-type: none;

 }
 .user_join {
 	color: grey;
 	font-size: 15px;
 }